@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
		overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	&.toggled{
		padding-left: 250px;
		@media #{$desktop} {
			padding-left: 0px;
		}
		#sidebar-wrapper {
			width: 250px;
			@media #{$desktop} {
				width: 0px;
			}
		
			#page-content-wrapper {
				position: relative;
				margin-right: 0;
			}
		}
	}
	@media #{$desktop} {
		padding-left: 250px;
	}
}
#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #000;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	@media #{$desktop}{
		width: 250px;
	}
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
	@media #{$desktop}{
		padding: 20px;
		position: relative;
	}
}


/* Sidebar Styles */

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		text-indent: 20px;
		line-height: 40px;
		a {
			display: block;
			text-decoration: none;
			color: #999999;
			&:hover{
				text-decoration: none;
				color: #fff;
				background: rgba(255,255,255,0.2);
			}
			&:active + &:focus{
				text-decoration: none;
			}
		}
	}
	> .sidebar-brand {
		height: 65px;
		font-size: 18px;
		line-height: 60px;
		a{
			color: #999999;
			&:hover{
				color: #fff;
				background: none;
			}
		}
	}

}

@media(min-width:768px) {
		#wrapper.toggled #page-content-wrapper {
				position: relative;
				margin-right: 0;
		}
}
